* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background: #f4f4f4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #333;
  width: 100%;
}

.header {
  width: 100%;
  background: white;
  padding: 15px;
  font-weight: bold;
  color: #333;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.logo {
  position: absolute;
  right: 20px;
}

.logo a {
  text-decoration: none;
  color: #333;
  font-size: 30px;
  transition: color 0.3s ease-in-out;
}

.logo a:hover {
  color: #00feba;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 100%;
  max-width: 450px;
  margin-top: 20px;
}

.card {
  background: linear-gradient(135deg, #00feba, #5b548a);
  width: 100%;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.search {
  display: flex;
  width: 100%;
  gap: 10px;
  margin-bottom: 15px;
  align-items: center;
}

.search__input {
  flex: 1;
  border: 2px solid transparent;
  border-radius: 25px;
  font-size: 16px;
  padding: 12px;
  background: #eafffd;
  transition: border-color 0.3s ease-in-out, background 0.3s ease-in-out;
  width: 100%;
}

.search__input:focus {
  border-color: #00feba;
  background: #d7fff8;
  outline: none;
}

.search__button {
  cursor: pointer;
  border: none;
  background: none;
}

.search__button img {
  width: 45px;
  height: 45px;
  background: #eafffd;
  padding: 8px;
  border-radius: 50%;
  transition: background 0.3s, transform 0.3s;
}

.search__button:hover img {
  background: #d7fff8;
  transform: scale(1.05);
}

.weather {
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.weather__icon {
  width: 120px;
}

.weather__temp {
  font-size: 36px;
  font-weight: 600;
}

.weather__city {
  font-size: 22px;
  font-weight: 700;
}

.weather__details {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
  gap: 20px;
}

.detail {
  display: flex;
  align-items: center;
  gap: 8px;
}

.detail__icon {
  width: 35px;
}

.detail__value {
  font-size: 22px;
  font-weight: bold;
}

.detail__label {
  font-size: 12px;
  color: #ddd;
}

.error {
  font-size: 14px;
  color: #ff4c4c;
  display: none;
}

/* Responsive Fixes */
@media (max-width: 400px) {
  .header {
    justify-content: space-between;
    margin-left: 12px;
  }

  .logo {
    right: 10px;
  }

  .container {
    width: 100%;
  }

  .search {
    flex-direction: column;
    gap: 8px;
  }

  .search__input {
    font-size: 14px;
    padding: 10px;
    width: 100%;
  }

  .search__button img {
    width: 40px;
    height: 40px;
  }

  .weather__temp {
    font-size: 30px;
  }

  .weather__city {
    font-size: 18px;
  }

  .weather__details {
    flex-direction: column;
    align-items: center;
  }
}
