* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #f4f4f4;
  justify-content: center;
}

.header {
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
  background-color: white;
  box-shadow: 0 7px 29px rgba(100, 100, 111, 0.2);
  width: 100%;
}

.header__title {
  font-size: 25px;
  font-weight: 600;
}

.container {
  display: flex;
  justify-content: center;
  background: linear-gradient(135deg, #00feba, #5b548a);
  margin: 20px auto;
  max-width: 450px;
  width: 90%;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.card {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
}

.search {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.search__input {
  flex: 1;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  padding: 12px 15px;
  outline: none;
  background-color: #eafffd;
  transition: 0.3s ease-in-out;
  font-family: inherit;
}

.search__input:focus {
  border: 2px solid #00feba;

  background-color: #d7fff8;
}

.search__button {
  cursor: pointer;
  border: none;
  background: none;
}

.search__button img {
  width: 50px;
  height: 50px;
  background-color: #eafffd;
  padding: 10px;
  border-radius: 50%;
  transition: 0.3s;
}

.search__button:hover img {
  background-color: #d7fff8;
  transform: scale(1.1);
}

.weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.weather__icon {
  width: 150px;
  margin-bottom: 10px;
}

.weather__temp {
  font-size: 40px;
  font-weight: 600;
}

.weather__city {
  font-size: 24px;
  font-weight: 700;
}

.weather__details {
  display: flex;
  justify-content: space-between;
  padding: 25px;
  margin-top: 20px;
  gap: 30px;
}

.detail {
  display: flex;
  align-items: center;
  gap: 10px;
}

.detail__icon {
  width: 40px;
}

.detail__value {
  font-size: 24px;
  font-weight: bold;
}

.detail__label {
  font-size: 14px;
  color: #ddd;
}

.error {
  font-size: 14px;
  color: #ff4c4c;
  display: none;
}

.weather {
  display: none;
}

@media (max-width: 480px) {
  .search {
    flex-direction: row;
    align-items: center;
    width: 100%;
  }

  .search__input {
    font-size: 14px;
    padding: 10px;
    flex: 1;
  }

  .search__button img {
    width: 38px;
    height: 38px;
  }
}
